{% extends "base.html" %}
{% block content %}

<form class = "form" action = "/pets" method = "post">
    <div>
        <label for="name"></label>
        <input class = "input" type = "text" id = "name" name = "name" placeholder = "Name" required>
    </div>
    <div>
        <label for="photo"></label>
        <input class = "input" type = "url" id = "photo" name = "photo" placeholder="Photo url">
    </div>
    <div>
        <label for="dob"></label>
        <input class = "input" type = "dob" id = "dob" name = "dob"  placeholder = "DoB" required>
    </div>
    <div>
        <label for="type"></label>
        <input class = "input" type = "type" id = "type" name = "type" required placeholder="Type/Breed">
    </div>
    <div>
        <label for="owner"></label>
        <input class = "input" type = "owner" id = "owner" name = "owner" required placeholder="Owner">
    </div>
    <div>
        <label for="owner_email"></label>
        <input class = "input" type = "owner_email" id = "owner_email" name = "owner_email" required placeholder="Email">
    </div>
    <div>
        <label for="owner_tel"></label>
        <input class = "input" type = "owner_tel" id = "owner_tel" name = "owner_tel" required placeholder="Phone">
    </div>
    
    <div>
        <label for="notes">Notes:</label>
        <textarea  class = "input" name = "notes" id = "notes" rows = "2" cols = "30" required></textarea>
      </div>
    <div>
        <label for="vet">Vet:</label>
        <select class = "input" id="vet" name="vet_id">
            {% for vet in all_vets %}
              <option value="{{ vet.id }}">{{ vet.name }}</option>
            {% endfor %}
          </select>
    </div>
<button class ="edit-new" type = "submit">Add new patient</button>
</form>

{% endblock %}