{% extends "base.html" %}
{% block content %}

{% for pet in all_pets %}
<div>
        <div id = "pet-label">
            <img  id = "pet-photo" src = "{{pet.photo}}" alt = "Photo of the pet">
            <a  id = "pet-name" href = "pets/{{pet.id}}">{{pet.name}}</a>
            <div>
                <form action="/pets/{{pet.id}}/delete" method="POST">
                    <button id= "delete-button" type = "submit">Delete</button> 
    
                </form>
            </div>
        </div>
        
    
</div>
{% endfor %}

{% endblock %}
