<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Merienda&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body id = "body">
    <header id = "header">
        <img id = "paw" src = "https://cdn-icons-png.flaticon.com/128/4787/4787144.png">
        <div>
        
        <p id = "header-text"><b>vetACCESS</b></p>
    </div>
    
    </header>
    <sidebar id = "sidebar">
        
        <nav>
            <ul>
                <li class = "list-item"><a href = "/" class = "lists">Home</a></li>
                <li class = "list-item"><a href = "/pets" class = "lists">Patients</a></li>
                <li class = "list-item"><a href = "/pets/add" class = "lists">New Patient</a></li>
                <li class = "list-item"><a href = "/vets" class = "lists">Vet</a> </li>
            </ul>
           
            
            
                
            
        </nav>
        </sidebar>
    </header>
    <main id = "main">
        
            {% block content %}
    {% endblock %}
    
        
    </main>
    <footer id = "footer">
        <p id = "footer-text">© Martyna</p>
            </footer>
</body>
</html>
