<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Document</title>
</head>
<body id = "main_container">
    <header id = "column1">
        <img src="https://yt3.ggpht.com/ytc/AAUvwniNCNlcMnIn3QL2llxQJOCwZtAqdgdvnDvC6_098w=s900-c-k-c0x00ffffff-no-rj">
        <nav>
            <ul><a href = "/">Home</a></ul>
            
        </nav>
    </header>
    <div id = "column2">
        {% block content %}
    {% endblock %}
    </div>
</body>
</html>